@import url('https://fonts.googleapis.com/css2?family=Story+Script&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --heading-font: "Story Script";
    --paragraph-font: Lato, Helvetica, sans-serif;
}

div {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.home-title {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2em;
    color:darkcyan;
    margin-top: 10px;
}

#hero-msg h2 {
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 1em;
}

h2{
    color:darkcyan; 
    margin: 0 1;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: aquamarine;
}

.rivers-card, .camping-card, .rapids-card  {
    margin: 200px 0
}

.card-img {
    border: 10px solid #FDC500;
}

body {
    background-color:rgb(227, 247, 255);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00509d;
}

nav a {
    color: lightblue;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}

nav a:hover {
    background-color: #003f88;
    color:aliceblue;
}


.book, .join {
    background-color: aliceblue;
    color: #FDC500;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
} 

.book:hover {
    background-color: #FDC500;
    color: aliceblue;
}

.join:hover {
    background-color: #FDC500;
    color: aliceblue;
}
.msg {
    background-color:azure;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color:darkcyan;
}
.msg p {
    color:lightseagreen;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #00509d;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: lightblue;
    text-decoration: none;
}
footer a:hover {
    background-color: #003f88;
    color:aliceblue;
}
footer p {
    font-size: 1.2em;
    color: lightblue;
}  
footer p a:hover {
    text-decoration: underline;
} 
footer .social img {
    padding-top: 15px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}