@import url('https://fonts.googleapis.com/css2?family=Story+Script&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --heading-font: "Story Script";
    --paragraph-font: Lato, Helvetica, sans-serif;
}

div {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-title {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2em;
    color:darkcyan;
    margin-top: 10px;
}

#hero-msg h2 {
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 1em;
}

h2{
    color:darkcyan; 
    margin: 0 1;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: black;
    grid-column: 1/11;
    grid-row: 4/9;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img, .mountains{
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px lightcyan;
}

.rivers-card, .camping-card, .rapids-card  {
    margin: 200px 0
}

.card-img {
    border: 10px solid #FDC500;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #ad8906;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

body {
    background-color:azure;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00509d;
}

nav a {
    color: lightblue;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}

nav a:hover {
    background-color: #003f88;
    color:aliceblue;
}


.book, .join {
    background-color: aliceblue;
    color: #FDC500;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
} 

.book:hover {
    background-color: #FDC500;
    color: aliceblue;
}

.join:hover {
    background-color: #FDC500;
    color: aliceblue;
}

.msg {
    background-color:lightcyan;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px lightcyan;
}

.msg h2 {
    color:darkcyan;
}
.msg p {
    color:lightseagreen;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #00509d;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: lightblue;
    text-decoration: none;
}
footer a:hover {
    background-color: #003f88;
    color:aliceblue;
}
footer p {
    font-size: 1.2em;
    color: lightblue;
}  
footer p a:hover {
    text-decoration: underline;
} 
footer .social img {
    padding-top: 15px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}