#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: aquamarine;
}

body {
    background-color:rgb(227, 247, 255);
}
header {
    background-color: #00509d;
}
nav a {
    color: lightblue;
    text-decoration: none;
}
nav a:hover {
    background-color: #003f88;
    color:aliceblue;
}
.home-title {
    color:darkcyan;
}
h4{
       color:darkcyan; 
}
.book {
    color: #FDC500;
    text-decoration: none;
} 
.join {
    color: #FDC500;
    text-decoration: none;
}
.book:hover {
    background-color: #FDC500;
    color: aliceblue;
}
.join:hover {
    background-color: #FDC500;
    color: aliceblue;
}
.msg h2 {
    color:darkcyan;
}
.msg p {
    color:lightseagreen;
}
footer {
    background-color: #00509d;
}
footer a {
    color: lightblue;
    text-decoration: none;
}
footer a:hover {
    background-color: #003f88;
    color:aliceblue;
}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
} 
.icon{
    width: 80px;
}

.logo {
    width: 80px;
}