@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Nanum+Brush+Script&family=Story+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    border: 3px solid #4a4326;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: darkorchid;
    padding: 2em;
    max-width: 100%;
}

nav a {
    color: lavender;
    text-decoration: none;
}

#intro {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    max-width: 1600px;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#Logo {
    grid-column: 2/3;
    border-radius: 50%;
    border: 5px solid darkcyan;
    object-fit: cover;
    object-position: 50% 20%;
    max-width: 300px;
}

#intro h1 {
    grid-column: 2/3;
    color: midnightblue;
    text-align: center;
    font-family: "Mystery Quest";
    font-weight: 400;
}

#card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1EM;
    justify-items: center;
    background-color: #1f7a8c;
    grid-column: 1/4;
    justify-items: center;
    padding: 10px;
}

#card h2 {
    text-align: center;
}

section#blue {
    background-color: #bfdbf7;    
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 5px;
}

section#green {
    background-color: #bfdbf7;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5px;
}

section#red {
    background-color: #e1e5f2;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 5px;
}

.about-container{
    display: flex;
    margin: 10px;
}

#table {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: mediumpurple;
    height: 500px;
    max-width: 600px;
    padding: 15px;
    gap: 5px;
}

#table h3{
    background-color: mediumslateblue;
    border: 4px solid lavender;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: lavender;
}

#table ul {
    border: 4px solid lavender;
    width: 100%;
    height: 100%;
    padding: 20px;
}

#table table {
    border: 4px solid lavender;
}

form {
    background-color: mediumslateblue;
    border: 4px solid lavender;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: lavender;
}

section#about img {
    border: 8px solid #c08497;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #c08497;
    max-width: 400px;
    margin: 15px;
}

#challenges {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    margin: 20px;
}

#card1, #card2, #card3, #card4, #card5, #card6 {
    border: 5px solid #1f7a8c;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#card1:hover, #card2:hover, #card3:hover, #card4:hover, #card5:hover, #card6:hover {
    transition: transform .5s;
    box-shadow: 5px 5px 10px #0f5664;
}

#card1, #card3, #card5 {
    background-color: #bfdbf7;
}

#card2, #card4, #card6 {
    background-color: #e1e5f2;
}

#card1 a, #card2 a, #card3 a, #card4 a, #card5 a, #card6 a {
    background-color: #1f7a8c;
    color: #bfdbf7;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: #1f7a8c;
    border-radius: 15px;
}

#card1 a:hover, #card2 a:hover, #card3 a:hover, #card4 a:hover, #card5 a:hover, #card6 a:hover {
    background-color: #bfdbf7;
    color: #1f7a8c;
    border: #1f7a8c;
    border-radius: 15px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #0f5664;
}

footer {
    background-color: darkorchid;
    color: lavender;
    height: 100px;
    padding: 10px;
}